<html>
    <head><title>Combat Scene Prototype</title></head>
    <body>
        No cheating! Seriously, I thought you'd be better than that...
        
        <form action="/player/" method="POST">
            <input type="submit" value="Continue">
        </form>
        
        <p><a href="/startover/">Forfeit and Start Over!</a></p>
    </body>
</html>