<html>
    <head><title>Combat Scene Prototype</title></head>
    <body>
        <h2>A New Challenger has Appeared!</h2>
        
        <form action="/player/" method="POST">
            <input type="submit" value="Start">
        </form>
    </body>
</html>